# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_USER=valerio.conti_app
DB_PASSWORD=VxChXGe5&qPB
DB_NAME=5DINF_T1_valerio.conti

# JWT
JWT_SECRET=your_jwt_secret_here_change_in_production
